<style media="screen">
  li {
    height : 50px;
    width: 200px;
    color: white;
    background-color: purple;
    margin-bottom: 30px;
    text-align: center;
  }
</style>

<h1>Lunches for {{eater}}</h1>

<ul>
{{#each foods }}
  <li><p>{{lunch}}</p></li>
{{/each}}
</ul>
